<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto"  *ngIf="!authservice.isAuthenticated();else elseBlock">
      <li class="nav-item">
        <a class="nav-link"  routerLinkActive="active" routerLink="/login">Login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLinkActive="active" routerLink="/register">Register</a>
      </li>
    </ul>
  <ng-template #elseBlock>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link"  routerLinkActive="active" routerLink="/MyPreferredShops">My preferred shops<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/NearbyShops">Nearby Shops</a>
              </li>
          </ul>
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a id="logout" class="nav-link" (click)="logout()" routerLinkActive="active">Logout</a>
                </li>
          </ul>
  </ng-template>
  </div>
</nav>
<ng4-loading-spinner> </ng4-loading-spinner>
