<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul *ngIf="!authservice.isAuthenticated();else elseBlock" class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/login">Login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
    </ul>
    <ng-template #elseBlock>
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/NearbyShops">My preferred shops<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/MyPreferredShops">Nearby Shops</a>
            </li>
          </ul>
    </ng-template>
    
  </div>
</nav>
